*{
  margin: 0;
  padding: 0;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e5e7eb;
}
input, textarea{
  font-family: inherit;
}
.loader__container{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 57, 57, 0.4);
}
.loader{
  width: 2.5rem;
  height: 2.5rem;
  border: 0.5rem solid #f8f9fa;
  border-bottom-color: #333333;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.workout-container{
  width: 100%;
}
.workout{
  border-radius: 25px;
  width: 75%;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 1.5rem 2rem;
  margin-top: 3rem;
}
.workout__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__tilte{
  font-size: 2.5rem;
}
.header__description{
  display: flex;
}
.header__options{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options__like{
  border: none;
  border-radius: 50%;
  background-color: #333333;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  color: #f8f9fa;
  cursor: pointer;
}
.options__like[data-liked="true"]{
  background-color: #c1121f;
}
.options__like:disabled{
  cursor: not-allowed;
}
.options__count{
  text-align: center;
  font-weight: lighter;
}
.options__delete{
  border-radius: 6px;
  border: none;
  background: none;
  background-color: #c1121f;
  color: #f8f9fa;
  padding: 0.15rem 0.5rem;
  cursor: pointer;
}
.options__delete:hover{
  background-color: #920c15;
}
.header__description-item{
  color: #777777;
  margin-left: 0.5rem;
}
.workout__container{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
}
.workout__day{
  background-color: #e9ecef;
  border-radius: 12px;
  padding: 0.25rem 0.5rem;
}
.workout__day-exercise{
  margin-left: 1.5rem;
}
.workout__response{
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.pagination-container{
  margin-top: auto;
  align-self: center;
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.page-button{
  border: solid 0.1rem #777777;
  border-radius: 12px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: none;
  font-size: 1.5rem;
  color: #333333;
  cursor: pointer;
  margin-right: 1rem;
} 
.page-button:nth-last-child(2){
  margin-right: 0;
} 
.page-button--active{
  color: #f8f9fa;
  background-color: #333;
}
.page-button--arrow{
  border: none;
  margin-right: 0;
}


@media screen and (max-width: 1024px) {
  .workout__container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .workout__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .workout__container {
    grid-template-columns: 1fr !important;
  }
  .workout__header{
    flex-wrap: wrap;
  }
  .header__description{
    flex-direction: column;
  }
  .header__description-item:nth-of-type(2){
    display: none;
  }
  .header__options{
    margin-left: auto;
  }
}