.container{
  width: 100%;
}
.user-info{
  width: 50%;
  margin: 1rem auto;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-name{
  font-size: 2.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.user-stats{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.15rem;
}
.user-stats__button{
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: #333;
  color: #f8f9fa;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 12px;
}
.user-stats__return{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #555555;
  font-weight: bold;
}
.content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.filters{
  width: 75%;
  margin: 1rem auto;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 25px;
}
.button-group{
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.action-button{
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  border-radius: 12px;
  background-color: #e5e7eb;
  cursor: pointer;
}
.action-button--active{
  color: #f8f9fa;
  background-color: #333;
}
.filters__group{
  display: inline-block;
  width: 40%;
  margin-right: 1rem;
}
.filters__label{
  display: inline-block;
  font-size: 1.15rem;
  text-align: left;
}
.filters__input{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 25px;
  border: none;
  border: solid 0.05rem #cbcdcf;
  background: none;
  box-sizing: border-box;
}
.workout{
  margin-top: 1rem;
}


.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
  scroll-behavior: smooth;
}
.modal-content{
  background-color: #f8f9fa;
  margin: auto;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  width: 60%;
}
.modal-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 1rem;
}
.form-title{
  grid-column: 1/-2;
  font-size: 2.25rem;
}
.modal-close{
  font-size: 2.25rem;
  cursor: pointer;
  justify-self: end;
  color: #333333;
  width: fit-content;
}
.modal-close:hover{
  color: #777777;
}
.input-container{
  grid-column: 1/-2;
}
.form-label{
  display: block;
  font-size: 1.15rem;
}
.form-input{
  width: calc(100% - 2rem);
  background: none;
  border: solid 0.05rem #cbcdcf;
  padding: 0.35rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}
.form-input--select{
  width: 100%;
}
.form-input--textarea{
  resize: vertical;
  min-height: 5rem;
  padding-top: 0.7rem;
}
.form-subtitle{
  grid-column: 1/-1;
}
.form-subtitle__header{
  font-size: 2rem;
}
.form-subtitle__description{
  font-weight: lighter;
}
.form-button{
  grid-column: 1/-1;
  background-color: #555555;
  border: none;
  color: #f8f9fa;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-top: 1rem;
}
.form-button:hover{
  background-color: #333;
}
.response-container{
  grid-column: 1/-1;
  gap: 0.1rem;
  text-align: center;
}

.modal-content--delete{
  width: 25%;
  min-width: 200px;
}
.modal-title{
  font-size: 1.5rem;
}
.modal-desc{
  margin-bottom: 1rem;
  font-size: 1.15rem;
}
.modal-button{
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: #cbcdcf;
  cursor: pointer;
}
.modal-button--delete{
  background-color: #c1121f;
  color: #f8f9fa;
}
.modal-button--delete:hover{
  background-color: #920c15;
}

@media screen and (max-width: 1024px) {
  .modal-form{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .filters__group {
    width: 100%;
    margin-right: 0;
  }


  .modal-form{
    grid-template-columns: repeat(2, 1fr);
  }
  .modal-content{
    width: 75%;
  }
  .modal-close{
    position: absolute;
    top: 2rem;
    right: 4rem;
  }
  .form-title{
    grid-column: 1 / -1;
    margin-right: 4rem;
  }
  .input-container{
    grid-column: 1 / -2;
  }
  .select-container{
    grid-column: -1 / -2;
  }
}
@media screen and (max-width: 480px) {
  .modal-form{
    grid-template-columns: 1fr;
  }
  .modal-close{
    top: 2rem;
    right: 2rem;
  }
  .form-title{
    margin-right: 2rem;
  }
  .input-container{
    grid-column: 1 / -1;
  }
  .select-container{
    grid-column: 1 / -1;
  }
  .textarea-container{
    grid-column: 1 / -1;
  }
  .user-info{
    width: 75%;
  }
  .content{
    width: 100%;
  }
}