.container{
  width: 100%;
}
.user-info{
  width: 50%;
  margin: 1rem auto;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.user-name{
  font-size: 2.5rem;
}
.user-stats{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.15rem;
}
.user-stats__button{
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: #333;
  color: #f8f9fa;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 12px;
}
.user-stats__return{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #555555;
  font-weight: bold;
}
.content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.filters{
  width: 75%;
  margin: 1rem auto;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.button-group{
  margin-bottom: 1.5rem;
}
.action-button{
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  margin-right: 0.15rem;
  border-radius: 12px;
  background-color: #cbcdcf;
  cursor: pointer;
}
.action-button--active{
  color: #f8f9fa;
  background-color: #333;
}
.filters__group{
  display: inline-block;
  width: 40%;
  margin-right: 3rem;
}
.filters__label{
  display: inline-block;
  font-size: 1.15rem;
  text-align: left;
}
.filters__input{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 25px;
  border: none;
  border: solid 0.05rem #cbcdcf;
  background: none;
}
.workout{
  margin-top: 1rem;
}


.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  background-color: #f8f9fa;
  margin: auto;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.modal-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 1rem;
}
.form-title{
  grid-column: 1/-2;
  font-size: 2.25rem;
}
.modal-close{
  font-size: 2.25rem;
  cursor: pointer;
  justify-self: end;
  color: #333333;
  width: fit-content;
}
.modal-close:hover{
  color: #777777;
}
.input-container{
  grid-column: 1/-2;
}
.form-label{
  display: block;
  font-size: 1.15rem;
}
.form-input{
  width: calc(100% - 2rem);
  background: none;
  border: solid 0.05rem #cbcdcf;
  padding: 0.35rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}
.form-input--select{
  width: 100%;
}
.form-input--textarea{
  resize: vertical;
  min-height: 5rem;
  padding-top: 0.7rem;
}
.form-subtitle{
  grid-column: 1/-1;
}
.form-subtitle__header{
  font-size: 2rem;
}
.form-subtitle__description{
  font-weight: lighter;
}
.form-button{
  grid-column: 1/-1;
  background-color: #555555;
  border: none;
  color: #f8f9fa;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-top: 1rem;
}
.form-button:hover{
  background-color: #777777;
}
.response-container{
  grid-column: 1/-1;
  gap: 0.1rem;
  text-align: center;
}